@model IEnumerable<MVCMusicStoreScaffolding.Models.Album>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="album" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Artist.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlbumArtUrl)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Artist.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td id="album-list">
                    <img alt="@item.Title" src="@Url.Content(@item.AlbumArtUrl)" style="width: 150px; height: 150px;" />
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.AlbumId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.AlbumId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.AlbumId })
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="dailydeal">
    @Ajax.ActionLink("Daily special offer",
        "DailyDeal",
        null,
        new AjaxOptions
        {
            UpdateTargetId = "dailydeal",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "GET"
        },
        new { @class = "btn btn-primary"}
    )
</div>


@section Scripts {
    <script src="~/Scripts/App/MusicScript.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    
    <script>
        $(document).ready(function () {
            $("#album").DataTable();
        });
    </script>
}
