@model MovieStore.Models.MovieRentals

@{
    ViewBag.Title = "Random movie";
}

<h2>@Model.movie.Name</h2>

<h3>Download from <a href="@Model.movie.DownloadURL">this link</a></h3>

<h5>Rating: @Model.movie.Rating</h5>

<img src="@Model.movie.ImageURL" style="width: 190px; height: 300px;" />
<h2>Clients:</h2>
<ul>
    @{
        int i = 0;
        foreach (var client in Model.customers)
        {
        <li>
            <a href="ShowClient/@i">@client.Name, @client.MovieCard</a>
        </li>
        i++;
        }
    }
</ul>
