@model MovieStore.Models.Client

@{
    ViewBag.Title = "ShowClient";
}

@if (Model.Age < 18)
{
    <h2 style="color: red">Потребен е надзор од родител или старател</h2>
}
else
{
    <h2>@Model.Name - @Model.MovieCard</h2>
    <h5>Age: @Model.Age</h5>
    <h5>Telephone: @Model.Telephone</h5>
    <h5>Address: @Model.Address</h5>
}



