@model IEnumerable<MVCMusicStoreScaffolding.Models.Artist>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<h3>Search Artist</h3>

<div class="panel panel-default">
    <div class="panel-body">

        @using (Ajax.BeginForm("ArtistSearch", "Artists",
                new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET",
                    OnFailure = "searchFailed",
                    LoadingElementId = "ajax-loader",
                    UpdateTargetId = "searchresults"
                }

        ))
        {
            <input type="text" name="q"/>
            <input type="submit" value="Search"/>
            <img id="ajax-loader" 
                 src="@Url.Content("~/Images/ajax-loader.jpg")"
                 style="display: none"/>
            
        }

        <div id="searchresults"></div>
    </div>
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ArtistId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ArtistId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArtistId })
        </td>
    </tr>
}

</table>

@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    }
