@{
    ViewBag.Title = "Helper";
    var items = new string[] { "Ponedelnik", "Vtornik", "Sreda" };
}



<h2>Helper</h2>

@using (@Html.BeginForm("HelperV", "Store", FormMethod.Post))
{
    <p>
        TextArea<br />
        @Html.TextArea("text", "hello world", new { @class = "form-control" })
    </p>

    <p>
        TextBox<br />
        @Html.TextBox("myTextBox", "This is my value", new { @class = "form-control" })
    </p>

    <p>
        Label<br />
        @Html.Label("StudentName", "Student-Name")
    </p>

    <p>
        DropDownList<br />
        @Html.DropDownList("Den",
                new SelectList(items),
                "Izberi den",
                new { @class = "form-control" })
    </p>

    <p>
        Hidden<br />
        @Html.Hidden("StudentId", "123456")
    </p>

    <p>
        Password<br />
        @Html.Password("OnlinePassword")
    </p>

    <p>
        RadioButton<br />
        @Html.RadioButton("pol", "mashki") Mashki<br />
        @Html.RadioButton("pol", "zhenski") Zhenski
    </p>

    <p>
        CheckBox<br />
        @Html.CheckBox("eNeraboten", true)Dali e neraboten den
    </p>

    <p>
        ActionLink<br />
        @Html.ActionLink("Doma", "Index", "Home")
    </p>
    <button type="submit" class="btn btn-primary">Submit</button>
}